= render 'admin/unread', unread: CountUnreadReports.call
- unless @reports.nil?
  %table
    %tbody
      %th Opis
      %th Kategoria
      %th E-mail
      %th Cena
      %th Przeczytane
      %th Termin
      - @reports.each do |report|
        %tr
          %td= report.description
          %td= report.category
          %td= report.email
          %td= report.price
          %td= report.read == true ? 'Tak' : 'Nie'
          %td= report.completion_time
- else
  %h2 Brak zgłoszeń do wyświetlenia