- if notice
  %p#notice
    .alert.alert-info
      = notice

- if report.errors.any?
  %p#notice
    .alert.alert-danger
      %h2 Błędy:
      %ul
        - report.errors.full_messages.each do |message|
          %li= RemoveFirstWordFromSentence.new.call message
= form_for(report) do |f|
  .well
    = f.text_area :description, class: 'form-control', placeholder: 'Opis'
    = f.select(:category, options_for_select(@categories), {}, {class: 'form-control'})
    = f.text_field :email, class: 'form-control', placeholder: 'E-mail'
  = f.submit 'Wyślij Zgłoszenie', class: 'btn btn-primary'